.footer {
  background-color: rgba(255, 255, 255, 0.198);
  color: rgb(255, 255, 255);
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding: 5px;
  font-size: 15px;
  width: 100%;
  margin: 0;
}

.contact-header {
  font-size: 1.4em;
  color: white;
}

.info-links {
  color: white;

  text-decoration: none;
  margin: 10px;
}

.button {
  width: 50%;
}

.copyright {
  color: white;
  font-size: 13px;
  text-align: center;

  width: 15%;
  margin: auto;
}

.border {
  border-right: solid 1px rgb(255, 255, 255);

  padding: 10px;
  margin-right: 1em;
}

@media (max-width: 568px) {
  .contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1em;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding-top: 1em;
  }
}
