.footer {
  background-color: rgba(255, 255, 255, 0.198);
  color: rgb(255, 255, 255);
  padding: 1em;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-header {
  font-size: 2em;
  color: white;
}

.info-links {
  color: white;

  text-underline-offset: 4px;
  margin: 10px;
}

.button {
  width: 50%;
}

.copyright {
  color: white;
  font-size: 0.8em;
  text-align: center;
}

@media (max-width: 568px) {
  .contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1em;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding-top: 1em;
  }
}
