.outerHome {
  color: aliceblue;
  padding: 50px;
  display: flex;
  justify-content: center;
  background-image: url(https://scontent-dfw5-1.xx.fbcdn.net/v/t1.6435-9/149528901_2702430209996219_3747656983996980100_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=2kTdjMvNO0UAX_y_3sJ&_nc_ht=scontent-dfw5-1.xx&oh=00_AT8IFOOYTkmqg_7-E7LR_QVRR3AY9Fxo5acQ8_ZEuk6vUw&oe=6222BB5F);
  background-size: cover;
  backdrop-filter: blur(2px);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.568);
  border-radius: 0 0 85% 85% / 30%;
}

.OuterTextBox {
  /* width: 50%;
  padding: 20px;
  display: block;
  justify-content: left;
  backdrop-filter: blur(6px) saturate(180%);
  -webkit-backdrop-filter: blur(6px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.35);

  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 3px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  color: black; */
  margin-right: 1em;
}

.welcome {
  text-align: left;
  margin-left: 1em;
  border-bottom: floralwhite ridge 2px;
  width: 20%;
  padding: 10px;
  transform: skew(-12deg);
}

.intro {
  font-size: 1.5em;
  text-align: center;
}

.image {
  max-height: 400px;
  background-blend-mode: difference;

  border-radius: 3px;
}

.button {
  padding: 15px;
  width: 20%;
  border: rgb(0, 94, 209) solid 1px;
  background-color: rgb(0, 94, 209);
  color: white;
  margin: 2em;
  border-radius: 2px;
  display: inline;
  text-align: center;
  align-content: flex-start;
}

.button:hover {
  background-color: rgb(16, 16, 77);
  border: rgb(16, 16, 77) solid 1px;
}

.phone-button {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .welcome {
    width: 52%;
  }

  .image {
    display: none;
  }

  .button {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .outerHome {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .innerTextBox {
    width: 80%;
    margin: auto;
    font-size: 13px;
  }
}
