/* .card {
  color: rgb(255, 255, 255);
  border-radius: 3px;
  padding-top: 20px;

  height: 350px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}



.card-title {
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-description {
  color: rgb(255, 255, 255);
  font-weight: 600;
  height: 175px;
}

.card-description:hover {
  text-align: center;
} */
