.card {
  background-color: white;
  color: black;
  border-radius: 3px;
  padding-top: 20px;
  background-color: rgb(255, 255, 255);
  height: 350px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.card-image {
  max-width: 100px;
  height: 100px;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-description {
  background-color: rgb(26, 52, 93);
  color: rgb(255, 255, 255);

  text-align: center;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
