.phone-icon {
  color: white;
  margin-top: 10px;
}

.phone-icon:hover {
  color: rgb(149, 25, 25);
}

.extra-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  color: black;
  margin-top: 15px;
  background-color: rgb(255, 218, 9);
}
.spanish-container {
  font-size: 15px;
  font-weight: 900;
}

.icon-container {
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .phone-icon {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
  }
}
