.section {
  padding: 1em;
  color: aliceblue;
}

.section-header {
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: aliceblue;
  margin-bottom: 1.3em;
  transform: skew(-12deg);
}

.section-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  gap: 1em;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .section-cards {
    display: flex;
    margin-top: 1em;
  }

  .section-cards > * {
    width: 70%;
    margin-top: 1em;
  }
}

@media screen and (max-width: 1000px) {
  .section-cards {
    display: flex;
    justify-content: space-evenly;
  }

  .section-cards > * {
    margin-top: 2em;
  }
}
